.landing-section {
  width: 60rem;
}
.center-vh {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link {
  text-decoration: underline;
  color: blue;
}
.link:hover {
  text-decoration: none;
}
.text-align-left {
  text-align: left;
}
